<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="google-site-verification" content="oS_WBb5MBYKsc6EGtFyicLNIkRlCRizb8PD7mnUqYso" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Continuum Gardens</title>
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css" media="all" />
    <link rel="Shortcut Icon" href="images/cg.ico" />
  </head>
  <body>
    <div id="background">
      <div id="wrapper">
        <div id="header"><a id="logolink" href="index.html">
            <img id="logo" src="images/logo.png" alt="Continuum Gardens" /></a>
          <blockquote>&ldquo;Creating unique and vibrant gardens for our clients to delight in the diversity and beauty of nature.&rdquo;</blockquote>
        </div><!-- end header -->

        {{menu}}

        <div id="content">
          {{content}}
        </div><!-- end content -->
        <div id="wrapper-left">
          {{submenu}}
          {{quote}}
        </div>
        <div class="cleaner"></div>
      </div>
    </div>
    <div id="footer">
      <span id="first"><p>Phone: 206.324.1802</p></span><span id="photos"><p>&copy;2010 Continuum Gardens. All photography by <a href="http://www.erikalangley.com/" target="_blank">Erika Langley</a></p></span>
    </div>
  </body>
</html>
